In [81]:
import pandas as pd

data = pd.read_csv(r'./submit/xgb0.8732986206266558.csv')
data1 = data.groupby(['PERSON_ID']).aggregate({ "LABEL": ["mean", "sum"]}).reset_index()
data1.columns = ['PERSON_ID','RECRUIT_ID_MEAN','RECRUIT_ID_SUM']

In [82]:
data1.head()

   PERSON_ID  RECRUIT_ID_MEAN  RECRUIT_ID_SUM
0        488              1.0               1
1       3929              1.0               1
2       4706              0.0               0
3       5813              0.0               0
4       6538              1.0               1

In [83]:
tmp = data1[(data1['RECRUIT_ID_MEAN']>0.7) & (data1['RECRUIT_ID_MEAN']<1)]['PERSON_ID'].to_list()

In [84]:
for i in range(len(data)):
    if data.iloc[i]['PERSON_ID'] in tmp:
        data.iloc[i]["LABEL"] = 1
print(data["LABEL"].sum())
data.to_csv("./submit/deal_result_xgb0.8732986206266558.csv",index=False)

10702